#contact-container {
    padding: 20px 160px;
    box-sizing: border-box;
    background-color: rgb(25, 25, 25);
    color: white;
}

#contact-container h1 {
    margin-bottom: 20px;
}

#contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng thể */
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--third-color);
    box-shadow: 0 0 5px var(--third-color);
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1a5c7f;
}